.App-link {
    color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}

.default-layout {
    background: #eeeeee;
    min-height: 100vh;
}

.css-1wnsr1i {
    border: 0 !important;
    box-shadow: 0px 0px 10px #8d6ecc !important;
}

.btnSubmit {
    text-align: center;
    display: block;
    margin-top: 20px;
}

.btnSubmit button {
    text-align: center;
    color: #fff;
    background-color: #8d6ecc;
    padding: 15px 20px;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
}

.btnSubmit button:focus {
    outline: 0;
}

.iconStyle {
    cursor: pointer;
}

.iconStyle:hover {
    color: #8d6ecc;
}

.emptyCell {
    background-color: rgba(230, 223, 243, 0.2);
    padding: 100px 0px !important;
    text-align: center !important;
    font-size: 16px !important;
    font-weight: bold !important;
    color: rgba(0, 0, 0, 0.87) !important;
}

@media only screen and (max-width: 1023px) {
    .tableStyle {
        display: block !important;
        width: 100% !important;
        overflow-x: auto;
    }
}

a {
    text-decoration: none;
}

.brand {
    color: #fff;
}

.title {
    font-size: 25px;
    margin: 0 0 20px;
}

.main-content {
    margin: 30px 0px;
}

.VictoryContainer text tspan {
    font-size: 7px !important;
}

.invalid-feedback {
    color: red;
    font-size: 12px;
    text-align: left;
    margin-top: 10px;
}